<h2>ID de Carrito: {{this._id}}</h2>

<div>
    {{#cart_products}}
    <p>ID: {{_id}}</p>
    <p>Producto:  {{products}}</p> 
    <p>Cantidad: {{quantity}}</p>
    <br><br>
    {{/cart_products}}
</div>