<div>
    <h1>Logueate usando Github</h1>

    <a href="/api/sessions/github"><button>Entrar con Github</button></a>

    <br>

    <P>No tienes Github? Haz login en el siguiente enlace: <a href="/">LOGIN</a></P> 
    <P>No tienes cuenta? <a href="/register">Registrate aqui</a></P>

</div>