<div>
    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="email">
        <br/>
        <input type="password" name="password" placeholder="password">
        <br/>
        <input type="submit" value="Login">
    </form>
    <p>No estas registrado?</p><a href="http://localhost:8080/register">Registrate aqui</a>
</div>